APP_ENV=local
APP_DEBUG=true
APP_URL=http://lawfirmwebsite.test

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=lawfirm
DB_USERNAME=root
DB_PASSWORD=

SESSION_NAME=lawfirm_session
SESSION_SECURE=false
SESSION_SAME_SITE=Lax

AUTH_MAX_ATTEMPTS=5
AUTH_WINDOW_MINUTES=15
